*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(221, 221, 221);
}
.menu{
    margin-left: 0;
    padding-top: 30px;
    padding-left: 10px;
    margin-right: -50px;
}
.nome{
    font-size: 50px;
    margin-left: 100px;
    margin-bottom: 0;
    max-width: 900px;
    margin-right: 500px;
}
.p1{
    text-align: left;
    font-size: 15px;
    padding: 0;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 100px;

}

.corpo{
    margin-left: -100px;
    display: flex;
    max-width: 1500px;
    max-height: 999999;
}
.linke{
    background-color: rgb(170, 170, 170);
    color: black;
    font-style: bold;
    width: 300px;
    height: 100px;
    display: flexbox;
    margin-left: 50px;
    margin-bottom: -300px;
    padding: 30px;
    margin-top: 300px;
    text-align: center;
    text-decoration: none;
    border: 5px solid black;
    border-radius: 30px;
    transition: 
        width 1s,
        font-size 1s,
        height 1s,
        margin-rigt 1s,
        margin-left 1s,
        margin-top 1s,
        border-radius 1s;
}

.linke:hover{
    width: 350px;
    font-size: 19px;
    height: 150px;
    margin-left: 20px;
    margin-top: 250px;
    margin-right: 20px;
    border-radius: 70px;
    .linkedin{
        width: 70px;
        size: 20px;
        transition:0.1s;
    }
    transition: 0.5s;
    transition-delay: 0.2s;
}

.linkedin{
    background-color: rgb(170, 170, 170);
    margin-left: 130px;
    margin-bottom: 10px;
    align-items: center;
    display: block;
    width: 50px;
    margin-top: 10px;
    transition: 
        width 1s,
        font-size 1s,
        height 1s,
        margin-rigt 1s,
        margin-left 1s,
        margin-top 1s;
}




.git{
    text-align: center;
    display: flexbox;
    width: 300px;
    height: 100px;
    max-width: 900px;
    border: 5px solid black;
    border-radius: 30px;
    text-shadow: 10px black;
    text-decoration: none;
    margin-left: -700px;
    margin-top: 300px;
    margin-bottom: 1px;
    padding: 30px;
    background-color: rgb(170, 170, 170);
    color: black;
    font-style: bold;
    transition: 
        width 1s,
        font-size 1s,
        height 1s,
        margin-left 1s,
        margin-top 1s,
        margin-right 1s,
        border-radius 1s;
}
.git:hover{
    width: 350px;
    font-size: 19px;
    height: 150px;
    margin-left: -750px;
    margin-top: 250px;
    margin-right: 20px;
    border-radius: 70px;
    .github{
        width: 120px;
        size: 20px;
        transition:0.1s;
    }
    transition: 0.5s;
    transition-delay: 0.2s;
    
}
.github{
    margin-top: 10px;
    margin-bottom: 1px;
    size: 10px;
    width: 90px;
    background-color: rgb(170, 170, 170);
    transition: 
        width 1s,
        font-size 1s,
        height 1s,
        margin-rigt 1s,
        margin-left 1s,
        margin-top 1s;
}
.sobremim{
    margin-top: 100px;
    padding: 30px;
    display: flexbox;
    margin-right: -500px;
    margin-left: 50px;
    border: 2px solid black;
    width: 500px;
    max-width: 800;
    text-indent: 30px;
    color: black;
    font-weight: bold;
    border-radius: 30px;

}
.anp{
    width: 100px;
    margin-top: 20px;
}
.unb{
    width: 70px;
}

.contato{
    display: block;
    border: 1px dashed black;
    position: fixed;
    margin-left: 800px;
    width: 500px;
    height: 50px;
    margin-top: 800px;
    margin-bottom: -400px;
}
.mail{
    text-align: center;
}
.email{
    font-weight:lighter;
    text-decoration:underline;
    text-align: center;
    margin-left: 90px;
    
}